header {
    background-color: #29273a;
    display: flex;
    gap: 80px;
    justify-content: center;
}


h1 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: yellowgreen;
}

body {
    background-color: #b6b3d2;
    margin: 0;
    padding: 0;
}  

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
    font-size: 30px;
}

#scores {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#scores p {
    font-size: 30px;
    color: black;
}

#playerChoice {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 40px;
}

#playerChoice div img:hover {
    transform: translateY(-20px);
}

#playerChoice div img{
    height: 200px;
}

#playerChoice div p {
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#choiceDisplay {
    display: flex;
    gap: 80px;
    justify-content: center;
}

#choiceDisplay div p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}